@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.product_input {
    margin-bottom: 20px;
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 0.8s ease-out forwards;
}

.delay-fast {
    animation-delay: 0.25s;
}

.delay-slow {
    animation-delay: 0.5s;
}

.delay-rlyslow {
    animation-delay: 0.75s;
}
